# waf
build
.waf*
.lock-waf*

# patch
plugins.reference/

# design
design/*.svg
design/*.png

#python
*.pyc

# vim
*.swh
*.swj
*.swk
*.swl
*.swp
*.swn
*.swm
*.swo

#*.autosave
#*~


# vim-youcompleteme
.ycm_extra_conf.pyc
